assets/Martina
assets/output/
platformio/include/config.local
assets/project/project-backups/
assets/project/*.lck
assets/project/\#auto_saved_files\#
assets/kicad/jlcpcb/
assets/kicad/project-backups/
assets/kicad/~project.kicad_pcb.lck
assets/kicad/~project.kicad_sch.lck
