<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>it.sephiroth.photoframe.pfr1</string>
        <key>UTTypeDescription</key>
        <string>PFR1 File Type</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>pfr1</string>
          </array>
        </dict>
        <key>UTTypeIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>PFR1 Image</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>it.sephiroth.photoframe.pfr1</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>PFR1FileIcon</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
