<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleDisplayName</key>
        <string>PFR1 Quick Look</string>
        <key>CFBundleIdentifier</key>
        <string>it.sephiroth.photoframe.pfr1.quicklook</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>PFR1 Quick Look</string>
        <key>CFBundlePackageType</key>
        <string>XPC!</string>
        <key>NSExtension</key>
        <dict>
            <key>NSExtensionAttributes</key>
            <dict>
                <key>QLSupportsThumbnailGeneration</key>
                <true/>
                <key>QLSupportsPreview</key>
                <true/>
                <key>QLPreviewContentTypes</key>
                <array>
                    <string>it.sephiroth.photoframe.pfr1</string>
                </array>
            </dict>
            <key>NSExtensionPointIdentifier</key>
            <string>com.apple.quicklook.preview</string>
            <key>NSExtensionPrincipalClass</key>
            <string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
        </dict>
    </dict>
</plist>
